<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>À propos de moi</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Je suis un finissant de la technique d'intégrations multimédia du collège Montmorency. Je suis douée en animation 3D, en montage vidéo, en modélisation et en réalité virtuelle. Je souhaite poursuivre mes études à l'université en animation 3D.</p>
      </div>
      <div class="col-lg-4">
        <p>Je suis présentement à la recherche d'un stage dans le domaine du multimédia comme évaluation de fin de session pour obtenir mon diplome d'étude collégiale.</p>
      </div>
    </div>
  </div>
</section>
